@model IEnumerable<TrashCollector.Models.CustomersModel>

@{
    ViewData["Title"] = "Search Customers";
}

<h4>Please enter the pick up day</h4>



<form method="get" asp-action="GetCustomerDay">
    <p>
        <input type="search" placeholder="Enter day of week" value="@ViewData["GetCustomerByDay"]" name="EmpSearch" style="width:250px;" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelephoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneTimeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspendStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspendEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspendService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmPickUp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelephoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickUpDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OneTimeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuspendStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuspendEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuspendService)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConfirmPickUp)
                </td>
                <td>
                    <a asp-action="CompletePickUp" asp-route-id="@item.CustomerId">Complete Pick Up</a>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
