@model IEnumerable<TrashCollector.Models.CustomersModel>

@{
    ViewData["Title"] = "Customer Pickups";
}

<h4>
    Customer Pickups Scheduled For @Html.TextBox("DateCreated",
DateTime.Today.ToString("MM/dd/yyyy"), new { @readonly = "readonly", @style = "border: none;" })
</h4>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelephoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneTimeDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneTimeDate)
            </td>
            <td>
                <a asp-action="DisplayMap" asp-route-id="@item.CustomerId">Display Map</a> |
                <a asp-action="CompletePickUp" asp-route-id="@item.CustomerId">Complete PickUp</a>
            </td>

        </tr>
        }
    </tbody>
</table>
